/* line 1, sass/base/_forms.sass */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}
/* line 11, sass/base/_forms.sass */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111;
}

/* line 14, sass/base/_forms.sass */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}

/* line 21, sass/base/_forms.sass */
textarea {
  padding-left: 3px;
  width: 100%;
}

/* line 25, sass/base/_forms.sass */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: 0.6em 1em 0.4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
/* line 42, sass/base/_forms.sass */
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
/* line 46, sass/base/_forms.sass */
button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

/* line 3, sass/_base.sass */
html {
  box-sizing: border-box;
}

/* line 6, sass/_base.sass */
*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

/* line 12, sass/_base.sass */
body {
  background: #fff;
}

/* line 15, sass/_base.sass */
body,
button,
input,
select,
textarea {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Lora", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.6;
}

/* line 27, sass/_base.sass */
a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  /* Fallback for when there is no custom background color defined. */
}

/* line 33, sass/_base.sass */
header#masthead {
  background: #4c5c68;
  font-family: "Raleway";
  margin-bottom: 3rem;
}
/* line 38, sass/_base.sass */
header#masthead .site-title {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding: 2rem;
  font-size: 1.5rem;
}
@media screen and (max-width: 480px) {
  /* line 45, sass/_base.sass */
  header#masthead .site-title {
    font-size: 1rem;
    padding: 2rem 1.5rem;
  }
}
/* line 49, sass/_base.sass */
header#masthead a {
  color: white !important;
}

/* line 52, sass/_base.sass */
blockquote, q {
  quotes: "" "";
}
/* line 55, sass/_base.sass */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 59, sass/_base.sass */
a {
  text-decoration: none;
  font-weight: bold;
}

/* line 63, sass/_base.sass */
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/* line 70, sass/_base.sass */
a {
  color: rgba(0, 0, 0, 0.8);
}
/* line 73, sass/_base.sass */
a:visited {
  color: rgba(0, 0, 0, 0.8);
}
/* line 76, sass/_base.sass */
a:hover, a:focus, a:active {
  color: rgba(0, 0, 0, 0.6);
}
/* line 81, sass/_base.sass */
a:focus {
  outline: thin dotted;
}
/* line 84, sass/_base.sass */
a:hover, a:active {
  outline: 0;
}

/* line 91, sass/_base.sass */
ul, ol {
  margin: 0 0 1.5em 3em;
}

/* line 94, sass/_base.sass */
ul {
  list-style: disc;
}

/* line 97, sass/_base.sass */
ol {
  list-style: decimal;
}

/* line 100, sass/_base.sass */
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

/* line 105, sass/_base.sass */
dt {
  font-weight: bold;
}

/* line 108, sass/_base.sass */
dd {
  margin: 0 1.5em 1.5em;
}

/* line 111, sass/_base.sass */
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/* line 121, sass/_base.sass */
table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* line 127, sass/_base.sass */
p {
  margin-bottom: 1.5em;
}

/* line 130, sass/_base.sass */
dfn, cite, em, i {
  font-style: italic;
}

/* line 133, sass/_base.sass */
blockquote {
  margin: 0 1.5em;
}

/* line 136, sass/_base.sass */
address {
  margin: 0 0 1.5em;
}

/* line 139, sass/_base.sass */
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

/* line 151, sass/_base.sass */
code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

/* line 156, sass/_base.sass */
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

/* line 160, sass/_base.sass */
mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

/* line 164, sass/_base.sass */
big {
  font-size: 125%;
}

/* line 1, sass/_layout.sass */
#content, .site-title {
  width: 560px;
  max-width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  /* line 1, sass/_layout.sass */
  #content, .site-title {
    padding: 0 1.5rem;
  }
}

/* line 10, sass/_layout.sass */
#site-navigation {
  display: none;
}

/* line 1, sass/modules/_posts.sass */
.entry-meta {
  font-family: "Quicksand";
}
/* line 4, sass/modules/_posts.sass */
.entry-meta::before {
  content: "";
  height: 2.8em;
  display: inline-block;
  background-color: #4C5C68;
  width: 2.8em;
  position: relative;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.4em;
}

/* line 15, sass/modules/_posts.sass */
.entry-meta-inner {
  display: inline-block;
  vertical-align: middle;
  max-width: 120px;
}

/* line 20, sass/modules/_posts.sass */
.entry-title {
  font-size: 2.2rem;
  font-family: "Quicksand";
  margin: 2.5rem 0 1rem;
}
@media screen and (max-width: 560px) {
  /* line 20, sass/modules/_posts.sass */
  .entry-title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 480px) {
  /* line 20, sass/modules/_posts.sass */
  .entry-title {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 320px) {
  /* line 20, sass/modules/_posts.sass */
  .entry-title {
    font-size: 1.7rem;
  }
}

/* line 34, sass/modules/_posts.sass */
.sticky {
  display: block;
}

/* line 37, sass/modules/_posts.sass */
.hentry {
  margin: 0 0 1.5em;
}

/* line 40, sass/modules/_posts.sass */
.byline,
.updated:not(.published) {
  display: none;
}

/* line 44, sass/modules/_posts.sass */
.single .byline,
.group-blog .byline {
  display: inline;
}

/* line 48, sass/modules/_posts.sass */
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

/* line 53, sass/modules/_posts.sass */
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* line 57, sass/modules/_posts.sass */
.entry-footer {
  font-family: "Quicksand";
  font-size: 0.8rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
/* line 63, sass/modules/_posts.sass */
.entry-footer::after {
  content: "";
  display: block;
  clear: both;
}

/* line 68, sass/modules/_posts.sass */
.edit-link {
  float: right;
}

/* line 74, sass/modules/_posts.sass */
.tags-links a {
  background: #c5ced5;
  padding: 4px 10px 4px 8px;
  margin: 0.8em 1.8em 0 0;
  position: relative;
  display: inline-block;
  transition: color 0.2s ease-in;
}
/* line 82, sass/modules/_posts.sass */
.tags-links a:nth-child(1) {
  margin-left: 0;
}
/* line 85, sass/modules/_posts.sass */
.tags-links a:hover {
  color: white;
}
/* line 88, sass/modules/_posts.sass */
.tags-links a::before {
  content: "#";
  display: inline-block;
  padding-right: 0.2em;
  color: rgba(0, 0, 0, 0.5);
}
/* line 94, sass/modules/_posts.sass */
.tags-links a::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 0 14px 14px;
  border-color: transparent transparent transparent #c5ced5;
  position: absolute;
  top: 0;
  right: -14px;
}

/* line 105, sass/modules/_posts.sass */
.more-link {
  display: block;
  font-family: "Raleway";
  display: block;
  margin-top: 1rem;
}

/* line 1, sass/modules/_navigation.sass */
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}
/* line 7, sass/modules/_navigation.sass */
.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
/* line 13, sass/modules/_navigation.sass */
.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 1.5em;
  left: -999em;
  z-index: 99999;
}
/* line 21, sass/modules/_navigation.sass */
.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}
/* line 26, sass/modules/_navigation.sass */
.main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
  left: 100%;
}
/* line 30, sass/modules/_navigation.sass */
.main-navigation ul ul a {
  width: 200px;
}
/* line 39, sass/modules/_navigation.sass */
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}
/* line 43, sass/modules/_navigation.sass */
.main-navigation li {
  float: left;
  position: relative;
}
/* line 50, sass/modules/_navigation.sass */
.main-navigation a {
  display: block;
  text-decoration: none;
}

/* Small menu. */
/* line 59, sass/modules/_navigation.sass */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  /* line 64, sass/modules/_navigation.sass */
  .menu-toggle {
    display: none;
  }

  /* line 67, sass/modules/_navigation.sass */
  .main-navigation ul {
    display: block;
  }
}
/* line 73, sass/modules/_navigation.sass */
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}
/* line 77, sass/modules/_navigation.sass */
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}
/* line 81, sass/modules/_navigation.sass */
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/* line 1, sass/modules/_utilities.sass */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
}

/* line 15, sass/modules/_utilities.sass */
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/* line 5, sass/_modules.sass */
.skip-link {
  display: none;
}

/* line 8, sass/_modules.sass */
.archive-entry-title {
  font-size: 1.5em;
}
