/* line 1, sass/base/_forms.sass */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}
/* line 11, sass/base/_forms.sass */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111;
}

/* line 14, sass/base/_forms.sass */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}

/* line 21, sass/base/_forms.sass */
textarea {
  padding-left: 3px;
  width: 100%;
}

/* line 25, sass/base/_forms.sass */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: 0.6em 1em 0.4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
/* line 42, sass/base/_forms.sass */
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
/* line 46, sass/base/_forms.sass */
button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

/* line 3, sass/_base.sass */
html {
  box-sizing: border-box;
}

/* line 6, sass/_base.sass */
*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

/* line 12, sass/_base.sass */
body {
  background: #fff;
}

/* line 15, sass/_base.sass */
body,
button,
input,
select,
textarea {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Lora", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.6;
}

/* line 27, sass/_base.sass */
a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  /* Fallback for when there is no custom background color defined. */
}

/* line 33, sass/_base.sass */
header#masthead {
  background: #4c5c68;
  font-family: "Raleway";
  margin-bottom: 3rem;
}
/* line 38, sass/_base.sass */
header#masthead .site-title {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding: 2rem;
  font-size: 1.5rem;
}
@media screen and (max-width: 480px) {
  /* line 45, sass/_base.sass */
  header#masthead .site-title {
    font-size: 1rem;
    padding: 2rem 1.5rem;
  }
}
/* line 49, sass/_base.sass */
header#masthead a {
  color: white !important;
}

/* line 52, sass/_base.sass */
#footer {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

/* line 56, sass/_base.sass */
blockquote, q {
  quotes: "" "";
}
/* line 59, sass/_base.sass */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 63, sass/_base.sass */
a {
  text-decoration: none;
  font-weight: bold;
}

/* line 67, sass/_base.sass */
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/* line 74, sass/_base.sass */
a {
  color: rgba(0, 0, 0, 0.8);
}
/* line 77, sass/_base.sass */
a:visited {
  color: rgba(0, 0, 0, 0.8);
}
/* line 80, sass/_base.sass */
a:hover, a:focus, a:active {
  color: rgba(0, 0, 0, 0.6);
}
/* line 85, sass/_base.sass */
a:focus {
  outline: thin dotted;
}
/* line 88, sass/_base.sass */
a:hover, a:active {
  outline: 0;
}

/* line 95, sass/_base.sass */
ul, ol {
  margin: 0 0 1.5em 3em;
}

/* line 98, sass/_base.sass */
ul {
  list-style: disc;
}

/* line 101, sass/_base.sass */
ol {
  list-style: decimal;
}

/* line 104, sass/_base.sass */
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

/* line 109, sass/_base.sass */
dt {
  font-weight: bold;
}

/* line 112, sass/_base.sass */
dd {
  margin: 0 1.5em 1.5em;
}

/* line 115, sass/_base.sass */
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/* line 125, sass/_base.sass */
table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* line 131, sass/_base.sass */
p {
  margin-bottom: 1.5em;
}

/* line 134, sass/_base.sass */
dfn, cite, em, i {
  font-style: italic;
}

/* line 137, sass/_base.sass */
blockquote {
  margin: 0 1.5em;
}

/* line 140, sass/_base.sass */
address {
  margin: 0 0 1.5em;
}

/* line 143, sass/_base.sass */
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

/* line 155, sass/_base.sass */
code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

/* line 160, sass/_base.sass */
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

/* line 164, sass/_base.sass */
mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

/* line 168, sass/_base.sass */
big {
  font-size: 125%;
}

/* line 1, sass/_layout.sass */
#content, .site-title {
  max-width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  /* line 1, sass/_layout.sass */
  #content, .site-title {
    padding: 0 1.5rem;
  }
}

/* line 9, sass/_layout.sass */
#site-navigation {
  display: none;
}

/* line 12, sass/_layout.sass */
#footer {
  height: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 1, sass/modules/_posts.sass */
.post {
  width: 560px;
  max-width: 100%;
  position: relative;
  margin: 0 auto 8em;
}

/* line 7, sass/modules/_posts.sass */
.entry-meta {
  font-family: "Quicksand";
}
/* line 10, sass/modules/_posts.sass */
.entry-meta::before {
  content: "";
  height: 2.8em;
  display: inline-block;
  background-color: #4C5C68;
  width: 2.8em;
  position: relative;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.4em;
}

/* line 21, sass/modules/_posts.sass */
.entry-meta-inner {
  display: inline-block;
  vertical-align: middle;
  max-width: 120px;
}

/* line 26, sass/modules/_posts.sass */
.entry-title {
  font-size: 2.2rem;
  font-family: "Quicksand";
  margin: 2.5rem 0 1rem;
}
@media screen and (max-width: 560px) {
  /* line 26, sass/modules/_posts.sass */
  .entry-title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 480px) {
  /* line 26, sass/modules/_posts.sass */
  .entry-title {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 320px) {
  /* line 26, sass/modules/_posts.sass */
  .entry-title {
    font-size: 1.7rem;
  }
}

/* line 40, sass/modules/_posts.sass */
.sticky {
  display: block;
}

/* line 43, sass/modules/_posts.sass */
.byline,
.updated:not(.published) {
  display: none;
}

/* line 47, sass/modules/_posts.sass */
.single .byline,
.group-blog .byline {
  display: inline;
}

/* line 51, sass/modules/_posts.sass */
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

/* line 56, sass/modules/_posts.sass */
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* line 60, sass/modules/_posts.sass */
.entry-footer {
  font-family: "Quicksand";
  font-size: 0.8rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
/* line 66, sass/modules/_posts.sass */
.entry-footer::after {
  content: "";
  display: block;
  clear: both;
}

/* line 71, sass/modules/_posts.sass */
.edit-link {
  float: right;
}

/* line 77, sass/modules/_posts.sass */
.tags-links a {
  background: #c5ced5;
  padding: 4px 10px 4px 8px;
  margin: 0.8em 1.8em 0 0;
  position: relative;
  display: inline-block;
  transition: color 0.2s ease-in;
}
/* line 85, sass/modules/_posts.sass */
.tags-links a:nth-child(1) {
  margin-left: 0;
}
/* line 88, sass/modules/_posts.sass */
.tags-links a:hover {
  color: white;
}
/* line 91, sass/modules/_posts.sass */
.tags-links a::before {
  content: "#";
  display: inline-block;
  padding-right: 0.2em;
  color: rgba(0, 0, 0, 0.5);
}
/* line 97, sass/modules/_posts.sass */
.tags-links a::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 0 14px 14px;
  border-color: transparent transparent transparent #c5ced5;
  position: absolute;
  top: 0;
  right: -14px;
}

/* line 108, sass/modules/_posts.sass */
.more-link {
  display: block;
  font-family: "Raleway";
  display: block;
  margin-top: 1rem;
}

/* line 1, sass/modules/_navigation.sass */
.navigation {
  width: 100%;
  margin: 0;
}
/* line 5, sass/modules/_navigation.sass */
.navigation ul.navigation-elements {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}
/* line 13, sass/modules/_navigation.sass */
.navigation ul.navigation-elements li {
  display: inline-block;
  margin: 2em;
}
/* line 17, sass/modules/_navigation.sass */
.navigation ul.navigation-elements li a {
  padding: 2em;
  color: white;
  font-family: "Quicksand";
}

/* line 5, sass/_modules.sass */
.skip-link {
  display: none;
}

/* line 8, sass/_modules.sass */
.archive {
  margin: 0 auto;
  width: 560px;
  max-width: 100%;
  position: relative;
  margin-top: 3em;
  margin-bottom: 3em;
}

/* line 16, sass/_modules.sass */
.archive-line {
  border-top: 2px dashed rgba(0, 0, 0, 0.8);
  margin-top: 5em;
  margin-bottom: 5em;
}

/* line 21, sass/_modules.sass */
.archive-title {
  font-size: 2.2em;
  margin: 0.67em 0;
  font-family: "Raleway";
  letter-spacing: 0.08em;
}

/* line 27, sass/_modules.sass */
.archive-entry-title {
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: "Raleway";
  border-bottom: 1px solid;
  border-width: 4px;
  padding-bottom: 0.2em;
  transition: all 0.2s ease-in;
}
/* line 37, sass/_modules.sass */
.archive-entry-title:hover a {
  background: black;
  color: white;
}
/* line 41, sass/_modules.sass */
.archive-entry-title a {
  transition: all 0.3s ease-in;
  padding: 0.2em;
}
/* line 45, sass/_modules.sass */
.archive-entry-title:nth-of-type(1) {
  display: none;
}

/* line 48, sass/_modules.sass */
.footer-inner {
  width: 560px;
  margin: 0 auto;
}
