.entry-meta {
  font-family: 'Quicksand';


  &::before {
    content: '';
    height: 2.8em;
    display: inline-block;
    background-color: #4C5C68;
    width: 2.8em;
    position: relative;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: .4em;
  }
}

.entry-meta-inner {
  display: inline-block;
  vertical-align: middle;
  max-width: 120px;
}

.entry-title {
  font-size: 2.2rem;
  font-family: 'Quicksand';
  margin: 2rem 0 1rem;
}


.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-footer {
  font-family: 'Quicksand';
  font-size: 0.8rem;
  padding-top: 1rem;
  border-top: 1px solid $color__text-light;

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.edit-link {
  float: right;
}

$triangleWidth: 14px;

.tags-links {
  a {
    background: $color__background-tags;
    padding: 4px 10px 4px 8px;
    margin: 0.8em 1.8em 0 0;
    position: relative;
    display: inline-block;
    transition: color .2s ease-in;

    &:nth-child(1) {
      margin-left: 0;
    }

    &:hover {
      color: white;
    }

    &::before {
      content: '#';
      display: inline-block;
      padding-right: .2em;
      color: $color__text-light;
    }

    &::after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: $triangleWidth 0 $triangleWidth $triangleWidth;
      border-color: transparent transparent transparent $color__background-tags;
      position: absolute;
      top: 0;
      right: -$triangleWidth;
    }
  }
}
